<h1>Welcome!!!</h1>
<p>Это мое первое приложение<br>
и надеюсь не последнее</p>

<%= link_to "Главная",root_path %>
<a href="http://localhost:3000/pages/about">О нас</a> <br>
<%= link_to "О нас",pages_about_path %>
